* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: sans-serif;
    outline: none;
}

body {
    text-align: center;
    background: antiquewhite
}
h1 {
    text-decoration: underline;
    color: rgb(126, 10, 10);
}

h3 {
    text-align: start;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

p {
    text-align: start;
}

.container {
    background-image: antiqueWhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgb(141, 133, 133);
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 68px);
}

input {
    grid-column: span 4;
    height: 50px;
    width: 260px;
    background-color: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
    border-radius: 40px;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 45px;
    width: 45px;
    background-color: rgb(225, 99, 99);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 50px;
    border: none;
    margin: 8px;
    cursor: pointer;
}

.equal {
    width: 120px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media screen and (max-width: 768) {
    .container {
        padding: 0 10px;
    }

    .calculator {
        grid-template-columns: repeat(3, 1fr);
    }
}